/*
#########################################
	Buttons
#########################################
*/
	/*
	//////////////////////////////////
		Btn
	//////////////////////////////////
	*/	
		.btn{
			padding: 0 20px;
			text-decoration: none;
			border: 1px solid transparent;
			border-radius: 3px;
			height: 40px;
			line-height: 40px;
			background-color: transparent;
			text-transform: uppercase;
			/*
			================================
				THEME
			================================
			*/
				/*
				----------------------------
					RED
				----------------------------
				*/
					&.btn-theme--red{
						background-color: #a70e12;
						border: 0;
						border-radius: 0;
						border-bottom: 3px solid #8c0b10;
						font-size: 14px;
						color: #FFF;
					}
				/*
				----------------------------
					//RED
				----------------------------
				*/
			/*
			================================
				//THEME
			================================
			*/
			/*
			================================
				Style
			================================
			*/
				/*
				================================
					Raised
				================================
				*/
					&.btn-raised{
						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
						background-color: #CCC;
						box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);

						&:hover, &:focus{
							box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
						}
					}
				/*
				================================
					//Raised
				================================
				*/

				/*
				==================================
					Round
				==================================
				*/
					&.btn-round{
						border-radius: 30px;
					}
				/*
				==================================
					//Round
				==================================
				*/

				/*
				==================================
					With Icon
				==================================
				*/
					&.btn-with-icon{
						
						.fa{
							margin-right: 5px;
						}

					}
				/*
				==================================
					//With Icon
				==================================
				*/

				/*
				==================================
					Fab
				==================================
				*/
					&.btn-fab{
						padding: 10px 12px;
						border-radius: 50%;

						.fa{
							margin-right: 0;
						}
					}
				/*
				==================================
					//Fab
				==================================
				*/

			/*
			================================
				//Style
			================================
			*/


			/*
			////////////////////////////////
				Color
			////////////////////////////////
			*/
				/*
				==================================
					Primary
				==================================
				*/
					&.btn-primary{
						color: #9b59b6;

						&.btn-raised{
							background-color: #9b59b6;
							color: #FFF;
						}
					}
				/*
				==================================
					//Primary
				==================================
				*/

				/*
				==================================
					Info
				==================================
				*/
					&.btn-info{
						color: #3498db;

						&.btn-raised{
							background-color: #3498db;
							color: #FFF;
						}
					}
				/*
				==================================
					//Info
				==================================
				*/

				/*
				==================================
					Success
				==================================
				*/
					&.btn-success{
						color: #2ecc71;

						&.btn-raised{
							background-color: #2ecc71;
							color: #FFF;
						}
					}
				/*
				==================================
					//Success
				==================================
				*/

				/*
				==================================
					Warning
				==================================
				*/
					&.btn-warning{
						color: #f1c40f;

						&.btn-raised{
							background-color: #f1c40f;
							color: #FFF;
						}
					}
				/*
				==================================
					//Warning
				==================================
				*/

				/*
				==================================
					Danger
				==================================
				*/
					&.btn-danger{
						color: #e74c3c;

						&.btn-raised{
							background-color: #e74c3c;
							color: #FFF;
						}
					}
				/*
				==================================
					//Danger
				==================================
				*/

			/*
			////////////////////////////////
				//Color
			////////////////////////////////
			*/

			/*
			/////////////////////////////////
				Sizes
			/////////////////////////////////
			*/
				/*
				===================================
					xSmall
				===================================
				*/
					&.btn-xsm{
						padding: 5px 10px;
						font-size: 70%;
					}
				/*
				===================================
					//xSmall
				===================================
				*/
				
				/*
				===================================
					Small
				===================================
				*/
					&.btn-sm{
						padding: 7px 15px;
						font-size: 70%;
					}
				/*
				===================================
					//Small
				===================================
				*/

				/*
				===================================
					Large
				===================================
				*/
					&.btn-lg{
						font-size: 180%;
					}
				/*
				===================================
					//Large
				===================================
				*/
			/*
			/////////////////////////////////
				//Sizes
			/////////////////////////////////
			*/

		}
	/*
	//////////////////////////////////
		//Btn
	//////////////////////////////////
	*/


/*
#########################################
	//Buttons
#########################################
*/