/*
###################################
	Button
###################################
*/
	/*
	=================================
		Btn
	=================================
	*/	
		.btn{
			display: inline-block;
			cursor: pointer;
			text-align: center;
			&.btn-block{
				display:block;
				width: 100%;
			}
		}
	/*
	=================================
		//Btn
	=================================
	*/

/*
////////////////////////////////////
	//Button
////////////////////////////////////
*/