/*
########################################
	Form
########################################
*/
	*{
		outline: 0;
	}
	/*
	==================================
		Input
	==================================
	*/
		input, textarea, select{
			-webkit-transition: all .25s;
			   -moz-transition: all .25s;
			    -ms-transition: all .25s;
			     -o-transition: all .25s;
			        transition: all .25s;
			display: block;
			padding: 10px 15px;
			border: 1px solid #cccccc;
			border-radius: 0;
			width: 100%;
			&:hover{
				border-color: rgba(0,0,0,.5);				
			}
			&:focus{
				border-color: #cc504d;
			}
		}
		input, select{
			height: 40px;
		}
		textarea{
			height: 90px;
		}
	/*
	==================================
		//Input
	==================================
	*/

	/*
	//////////////////////////////////
		Form Field
	//////////////////////////////////
	*/
		.form-field{
			position: relative;
			margin-top: 13px;

			&::after{
				content: "";
				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
				position: absolute;
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				bottom: 0;
				width: 0;
				height: 2px;
				background-color: #9b59b6;
			}

			/*	
			==================================
				Is Focusded
			==================================
			*/
				&.is-focused{
					&::after{
						width: 100%;
					}

					&.label-floating{
						.label-control{
							color: #9b59b6;
						}
						&.is-empty{
							.label-control{
								top: -14px;
								font-size: 12px;
							}
						}
					}
				}
			/*	
			==================================
				//Is Focusded
			==================================
			*/

			/*	
			==================================
				Label Floating
			==================================
			*/
				&.label-floating{
					position: relative;
					.label-control{
						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
						position: absolute;
						display: block;
						top: -14px;
						left: 0;
						font-size: 12px;
					}

					&.is-empty{
						.label-control{
							top: 5px;
							font-size: 16px;
						}
					}
				}
			/*	
			==================================
				Label Floating
			==================================
			*/

			/*
			/////////////////////////////////////////
				Control
			/////////////////////////////////////////
			*/
				/*
				==================================
					Form
				==================================
				*/
					.form-control{

					}
				/*
				==================================
					//Form
				==================================
				*/

				/*
				==================================
					Label
				==================================
				*/
					.label-control{
						
					}
				/*
				==================================
					//Label
				==================================
				*/

				/*
				==================================
					Feedback
				==================================
				*/
					.form-control-feedback{
						position: absolute;
						right: 0;
						top: 0;
					}
				/*
				==================================
					//Feedback
				==================================
				*/
			/*
			/////////////////////////////////////////
				//Control
			/////////////////////////////////////////
			*/

			/*
			/////////////////////////////////////////
				//Validation
			/////////////////////////////////////////
			*/
		}
	/*
	//////////////////////////////////
		//Form Field
	//////////////////////////////////
	*/

	/*
	//////////////////////////////////
		Input Group
	//////////////////////////////////
	*/
		.input-group{
			position: relative;
			&.input-group-btn--left{
				.form-field{
					.field-input{
						padding-left: 35px;
						padding-right: 15px;						
					}
				}
				.input-group-btn{
					left: 0;
					right: initial;
				}
			}
			.form-field{
				margin: 0;
				.field-input{
					padding: 5px 15px;
					padding-right: 35px;
					height: 30px;
				}
			}
			.input-group-btn{
				position: absolute;
				top: 0;
				right: 0;
				width: 30px;
				height: 30px;
			}
		}
	/*
	//////////////////////////////////
		//Input Group
	//////////////////////////////////
	*/
/*
########################################
	//Form
########################################
*/