/*
#############################
	Helpers
#############################
*/
	/*
	==================================
		Hidden
	==================================
	*/
		.hidden{
			visibility: none;
		}
	/*
	==================================
		//Hidden
	==================================
	*/
	.text-success{
		color: #90c299;
	}
	.text-danger{
		color: #fa3256;
	}
/*
#############################
	//Helpers
#############################
*/