/*
===============================
	ICONS
===============================
*/
	.icon{
		display: inline-block;
		vertical-align: middle;
		&::before{
			content: "";
			display: block;
			background-image: url(../images/sprites_icon.png);
			background-repeat: no-repeat;
		}
		/*
		------------------------------------
			MARKER
		------------------------------------
		*/
			//WHITE
			&.icon-marker-white{
				&::before{
					width: 15px;
					height: 15px;
					background-position: left top;
				}
			}
			//RED
			&.icon-marker-red{
				&::before{
					width: 15px;
					height: 15px;
					background-position: -25px top;
				}
			}
		/*
		------------------------------------
			//MARKER
		------------------------------------
		*/
		/*
		------------------------------------
			ENVELOPE
		------------------------------------
		*/
			//WHITE
			&.icon-envelope-white{
				&::before{
					width: 19px;
					height: 12px;
					background-position: left -25px;
				}
			}
		/*
		------------------------------------
			//ENVELOPE
		------------------------------------
		*/
		/*
		------------------------------------
			CALENDAR
		------------------------------------
		*/
			&.icon-calendar-gray{
				&::before{
					background-position: left -47px;
					width: 23px;
					height: 27px;
				}
			}
		/*
		------------------------------------
			//CALENDAR
		------------------------------------
		*/
		/*
		------------------------------------
			HOTEL	
		------------------------------------
		*/
			&.icon-hotel-gray{
				&::before{
					background-position: -33px -47px;
					width: 22px;
					height: 27px;
				}
			}
		/*
		------------------------------------
			//HOTEL
		------------------------------------
		*/
		/*
		------------------------------------
			HOSPEDE	
		------------------------------------
		*/
			&.icon-hospede-gray{
				&::before{
					background-position: -66px -47px;
					width: 19px;
					height: 26px;
				}
			}
		/*
		------------------------------------
			//HOSPEDE
		------------------------------------
		*/
	}
/*
===============================
	//ICONS
===============================
*/

