/*
#####################################
	RESERVA
#####################################
*/
	.reserva{
		&.reserva-home{
			margin-top: -95px;
			margin-bottom: 50px;
			.container{
				max-width: 980px;
			}
		}
		.reserva-container{
			padding: 20px 10px;
			border-bottom: 5px solid #cccccc;
			border-radius: 5px;
			background-color: #FFF;
		}
		.reserva-form{
			h2{
				text-transform: uppercase;
				font-weight: normal;
				font-size: 14px;
				margin: 0;
				margin-bottom: 15px;
				color: #cc504d;
			}
			fieldset{
				border: 0;
				padding: 0;
			}
			.form-field, .form-select{
				position: relative;
				margin-top: 0;
				font-size: 14px;
				.icon{
					position: absolute;
					top: 6.5px;
					right: 10px;
					line-height: 40px;
					height: 100%;
				}
			}
			.form-select{
				.form-action{
					text-align: left;
					width: 100%;
					border: 1px solid #CCC;
					padding: 10px 15px;
					background-color: transparent;
				}
				&.active{
					.field-list{
						display: block;
					}
				}
				.btn{
					height: 40px;
				}
				.field-list{
					display: none;
					position: absolute;
					z-index: 3;
					top: calc(~"100% + 8px");
					left: 0;
					border: 1px solid #ccc;
					border-radius: 3px;
					padding: 10px 5px;
					width: 245px;
					background-color: #FFF;
					.field-list-item{
						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
						display: block;
						text-decoration: none;
						padding: 10px;
						color: inherit;
						&:hover, &:focus{
							outline: none;
							background-color: rgba(0,0,0,0.1);
						}
					}
					&.list{
						.list--item{
							border-bottom: 1px solid #ccc;
							&:last-child{
								border-bottom: 0;
							}
						}
					}
					&::before{
						content: "";
						position: absolute;
						top: -7.5px;
						left: 20px;
						display: block;
						-webkit-transform: rotate(45deg);
						   -moz-transform: rotate(45deg);
						    -ms-transform: rotate(45deg);
						     -o-transform: rotate(45deg);
						        transform: rotate(45deg);
						border-top: 1px solid #CCC;
						border-left: 1px solid #CCC;
						width: 13px;
						height: 13px;
						background-color: #FFF;
					}
				}
			}
			.hospede-combo{
				.hospede-combo-label{
					margin: 0;
					font-weight: normal;
					font-size: 14px;
					line-height: 22px;
					height: 22px;
					color: #666666;
				}
				.hospede-combo-label--small{
					margin: 0;
					font-size: 12px;
					line-height: 22px;
					height: 22px;
					color: #cccccc;
				}
				.hospede-combo-label--small, .hospede-combo-buttons{
					display: inline-block;
				}
				.hospede-combo-buttons{
					.hospede-combo-button{
						padding: 0;
						border: 1px solid #CCC;
						background-color: #FFF;
						width: 22px;
						height: 22px;
						color: #6f1313;
						&:hover, &:focus{
							outline: none;
							background-color: #6f1313;
							color: #FFF;
						}
					}
				}
			}
		}
	}
/*
#####################################
	//RESERVA
#####################################
*/