/*
##########################################
	SECTION
##########################################
*/
	.section{
		/*
		==================================
			HEADER
		==================================
		*/
			.section-header{
				text-align: center;
				margin-bottom: 35px;
				.section-header-title{
					position: relative;
					display: inline-block;
					width: 100%;
					max-width: 300px;
					height: 30px;
					&::before{
						content: "";
						position: absolute;
						display: block;
						left: 0;
						top: 15px;
						width: 100%;
						height: 1px;
						background-color: #6f1313;
					}
					h2{
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						margin: 0;
						margin-right: auto;
						margin-left: auto;
						text-transform: uppercase;
						padding: 0 5px;
						line-height: 30px;
						max-width: 250px;
						height: 30px;
						background-color: #FFF;
						color: #6f1313;
					}
				}
			}
		/*
		==================================
			//HEADER
		==================================
		*/
	}
/*
##########################################
	//SECTION
##########################################
*/