/*
##########################################
	SERVICOS
##########################################
*/
	.servicos{
		margin-bottom: 65px;
		.servicos-list{
			padding-bottom: 70px;
			border-bottom: 1px solid #CCC;
		}
		.servicos-item{
			display: inline-block;
			padding: 10px 0;
			width: 100%;
			max-width: 230px;
			color: #666666;
			.servicos-item-icon{
				line-height: 75px;
				height: 75px;
				img{
					vertical-align: middle;
				}
			}
			.servicos-item-titulo{
				margin: 15px 0;
				font-size: 16px;
				font-weight: normal;
				text-transform: uppercase;
				height: 35px;
			}
			.servicos-item-descricao{
				font-size: 14px;
				font-weight: 300;
				margin: 0;
			}
		}

	}
/*
##########################################
	//SERVICOS
##########################################
*/