/*
####################################
	HEADER
####################################
*/
	.header{
		position: fixed;
		z-index: 5;
		top: 0;
		left: 0;
		width: 100%;
		&.institucional{
			padding: 10px 0;
			background-color: #6f1313;
			&.institucional-border{
				padding: 0;
			}
			&.header-interna{
				.header-list{
					.header-list--container{
						padding: 25px 0 16px;
						&.ribeirao{
							padding: 25px 0 16px;
						}
					}
				}
			}
		}
		&.header-interna{
			.header-list{
				.header-list--container{
					padding: 16px 0 11px;
					border-bottom: 1px solid #ccc;
					.logo{
						a{
							img{
								width: 58px;
								height: auto;
							}
							&:hover, &:focus{
								outline: none;
							}
						}
					}
					.menu{
						nav{
							ul{
								li{
									a{
										color: #666;
									}
								}
							}
						}
					}
				}
			}
		}
		/*
		=========================================
			TOOLBAR
		=========================================
		*/
			.header-toolbar{
				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
				padding: 10px 0;
				background-color: #6f1313;
				color: #FFF;
				.search{
					font-size: 12px;
					.input-group{
						color:  #FFF;
						.form-field{
							.field-input{
								border: 0;
								border-radius: 3px;
								height: 25px;
								background-color: rgba(255,255,255,0.3);
								&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
								  color: #FFF;
								}
								&::-moz-placeholder { /* Firefox 19+ */
								  color: #FFF;
								}
								&:-ms-input-placeholder { /* IE 10+ */
								  color: #FFF;
								}
								&:-moz-placeholder { /* Firefox 18- */
								 color: #FFF;
								}
							}
						}
						.input-group-btn{
							border: 0;
							border-top-left-radius: 3px;
							border-bottom-left-radius: 3px;
							background-color: transparent;
							height: 25px;
							color: inherit;
							&:hover, &:focus{
								outline: none;
								background-color: rgba(0,0,0,0.1);
							}
						}
					}
				}
				.header-toolbar-nav{
					font-size: 12px;
					a{
						display: block;
						text-decoration: none;
						padding: 0 5px;
						line-height: 25px;
						height: 25px;
						color: inherit;
						.icon{
							margin-right: 10px;
						}
						&:hover, &:focus{
							outline: none;
							background-color: rgba(0,0,0,0.1);
						}
						&:active{
							background-color: rgba(0,0,0,0.3);							
						}
					}
					&.list{
						.list--item{
							margin-left: 10px;
							&:first-child{
								margin-left: 0;
							}
						}
					}
				}
			}
		/*
		=========================================
			//TOOLBAR
		=========================================
		*/
		/*
		=========================================
			NAV
		=========================================
		*/
			.header-nav{
				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
				position: relative;
				padding: 30px 0;
				//LOGO
				.logo{
					position: relative;
					margin: 0;
					.logo-link{
						display: block;
						text-decoration: none;
					}
					.logo-brand{
						max-height: 60px;
					}
					.logo-name{
						position: absolute;
						top: 0;
						left: 0;
						visibility: hidden;
					}
				}
				//MENU
				.menu{
					margin-top: 15px;
					color: #FFF;
					.menu-item{
						margin-right: 50px;
						&.active{
							a{
								&::after{
									width: 100%;
								}
							}
						}
						&:last-child{
							margin-right: 0;
						}
					}
					a{
						position: relative;
						text-transform: uppercase;
						font-size: 18px;
						font-weight: 300;
						line-height: 30px;
						height: 30px;
						&::after{
							content: "";
							-webkit-transition: all .25s;
							   -moz-transition: all .25s;
							    -ms-transition: all .25s;
							     -o-transition: all .25s;
							        transition: all .25s;
							position: absolute;
							bottom: 0;
							left: 0;
							right: 0;
							margin-left: auto;
							margin-right: auto;
							width: 0;
							height: 2px;
							background-color: #6f1313;
						}
						&:hover, &:focus{
							outline: none;
							&::after{
								outline: none;
								width: 100%;								
							}
						}
					}
				}
				&::after{
					content: "";
					-webkit-transition: all .25s;
					   -moz-transition: all .25s;
					    -ms-transition: all .25s;
					     -o-transition: all .25s;
					        transition: all .25s;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
					width: 0;
					height: 2px;
					background-color: #6f1313;
				}
			}
		/*
		=========================================
			//NAV
		=========================================
		*/
		&.header-scrolling{
			top: -45px;
			.header-nav{
				padding: 15px 0;
				background-color: rgba(255,255,255,0.8);
				.menu{
					color: #6f1313;
					a{
						font-weight: normal;
					}
				}
				&::after{
					-webkit-transition: all .75s;
					   -moz-transition: all .75s;
					    -ms-transition: all .75s;
					     -o-transition: all .75s;
					        transition: all .75s;
					-webkit-transition-delay: .25s;
					   -moz-transition-delay: .25s;
					    -ms-transition-delay: .25s;
					     -o-transition-delay: .25s;
					        transition-delay: .25s;
					width: 100%;
				}
			}
		}
	}
/*
####################################
	//HEADER
####################################
*/