/*
########################################
	HOTEIS
########################################
*/
	.hoteis{
		/*
		================================
			LIST
		================================
		*/
			.hoteis-list{

			}
		/*
		================================
			//LIST
		================================
		*/
		/*
		================================
			HOTEL
		================================
		*/
			.hoteis-hotel{
				-webkit-transition: all .25s;
				   -moz-transition: all .25s;
				    -ms-transition: all .25s;
				     -o-transition: all .25s;
				        transition: all .25s;
				display: block;
				text-decoration: none;
				border: 1px solid #cccccc;
				border-right-width: 5px;
				margin-bottom: 10px;
				padding: 20px;
				color: #666666;
				&:hover, &:focus{
					outline: none;
					border-color: rgba(0,0,0,0.5);
				}
				&.active{
					border-color: #cc504d;
				}
				h3, p, span{
					font-size: 12px
				}
				h3, p{
					max-width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				h3{
					text-transform: uppercase;
					margin: 0;
					margin-bottom: 10px;
				}
				span{
					display: block;
					.fa{
						margin-right: 10px;
					}
				}
				.list.list-items--inline{
					.list--item{
						margin-right: 20px;
						&:last-child{
							margin-right: 0;
						}
					}
				}
			}
		/*
		================================
			//HOTEL
		================================
		*/
	}
/*
########################################
	//HOTEIS
########################################
*/
/*
########################################
	NOSSOS HOTEIS
########################################
*/
	.nossos-hoteis{
		.nossos-hoteis-list{
			padding-bottom: 70px;
			border-bottom: 1px solid #ccc;
		}
		.nossos-hoteis-item{
			border: 1px solid #cecece;
		}
		.nossos-hoteis-foto{
			img{
				display: block;
				max-width: 100%;
				height: auto;
			}
		}
		.nossos-hoteis-content{
			padding: 15px 20px;
			background-color: #f2f2f2;
		}
		.nossos-hoteis-cidade{
			margin: 0;
			color: #666666;
		}
		.nossos-hoteis-detalhes{
			font-size: 14px;
			.fa, .icon{
				margin-right: 10px;
				color: #6f1313;
			}
			&.list{
				margin: 20px 0;
			}
		}
		.list{
			.list--item{
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
				line-height: 24px;
				height: 24px;
			}
		}
	}
/*
########################################
	//NOSSOS HOTEIS
########################################
*/