/*
##################################
   	CONTATO PAGE
##################################
*/
	.contato{
		.contato-container{
			margin-top: 90px;
			margin-bottom: 75px;
			.contato-header{
				position: relative;
				height: 20px;
				margin-bottom: 15px;
				color: #cc504d;
				&::before{
					content: "";
					position: absolute;
					top: 9px;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: #cc504d;
				}
				h2{
					position: absolute;
					text-transform: uppercase;
					top: 0;
					left: calc(~"50% - 105px");
					text-align: center;
					font-size: 20px;
					line-height: 20px;
					margin: 0;
					width: 210px;
					height: 20px;
					background-color: #FFF;
				}
			}
			.contato-form{
				.contato-form-feedback{
					display: none;
					font-size: 22px;
					padding: 15px 0;
					margin: 0;
					.fa{
						margin-right: 10px;
					}
					.btn{
						margin-top: 15px;
					}
				}
				form{
					fieldset{
						padding: 0;
						border: 0;
						legend{
							display: block;
						}
					}
				}
				p{
					margin: 0;
					margin-bottom: 20px;
					font-size: 14px;
				}
			}
			.contato-container--right{
				border-left: 1px solid #a6a6a6;
				.endereco-block{
					.endereco-block--align{
						margin: 0 0 20px 0;
						border: 1px solid #ccc;
						border-right: 6px solid #ccc;
						transition: 0.4s;
						&:hover{
							border: 1px solid #a70e12;
							border-right: 6px solid #a70e12;
							cursor: pointer;
						}
						&:last-child{
							margin: 0;
						}
						.endereco-container{
							transition: 0.25s;
							padding: 19px 19px 15px 19px;
							.endereco-city{
								margin: 0 0 10px 0;
								h1{
									font-size: 12px;
									color: #a70e12;
									margin: 0;
									text-transform: uppercase;
								}
							}
							.endereco-desc{
								margin: 0 0 10px 0;
								i{
									font-size: 16px;
									margin: 0 6px 0 0;
									float: left;
									color: #666666;
								}
								p{
									float: left;
									font-size: 12px;
									margin: 0;
									color: #666666;
								}
							}
							.endereco-phone{
								margin: 0 30px 0 0;
								i{
									color: #666666;
									margin: 4px 6px 0 0;
									float: left;
									font-size: 16px;
								}
								p{
									margin: 0;
									float: left;
									a{
										text-decoration: none;
										font-size: 12px;
										color: #666666;
										&:focus, &:hover{
											outline: none;
										}
									}
								}
							}
							.endereco-email{
								margin: 3px 0 0 0;
								i{
									color: #666666;
									margin: 0 6px 0 0;
									float: left;
									font-size: 16px;
								}
								p{
									float: left;
									font-size: 12px;
									color: #666666;
									margin: 0;
								}
							}
						}
					}
				}
				.social-block{
					margin: 25px 0 0 0;
					a{
						transition: 0.25s;
						text-decoration: none;
						i{
							padding: 0 15px;
							color: #a70e12;
							font-size: 32px;
							&:last-child{
								margin: 0;
							}
						}
						&:hover, &:focus{
							outline: none;
							i{
								color: #6f1313;
							}
						}
					}
				}
			}
		}
		.map{
			width: 100%;
		}
	}

/*
##################################
   	//CONTATO PAGE
##################################
*/