/*
###################################
	Menu
###################################
*/
	.menu{
		position: relative;
		&.menu-list--inline, .menu-list--inline{
			margin: 0;
			padding: 0;
			.menu-item{
				display: inline-block;
				a{
					display: block;
					text-decoration: none;
					color: inherit;
				}
			}
		}
		&.menu-list--block, .menu-list--block{
			margin: 0;
			padding: 0;
			.menu-item{
				display: block;
				a{
					display: block;
					text-decoration: none;
					color: inherit;
				}
			}
		}
	}
/*
###################################
	//Menu
###################################
*/