/*
#################################
	MODAL
#################################
*/
	.modal{
		position: fixed;
		animation-name: fadeIn;
		animation-duration: 0.25s;
		z-index: 9;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0,0,0,0.3);
		/*
		==============================
			CONTAINER
		==============================
		*/
			.modal-container{
				animation-name: zoomIn;
				animation-duration: 0.25s;
				padding-top: 25px;
				position: relative;
				/*
				-----------------------------
					ACTION
				-----------------------------
				*/
					.modal-action{
						-webkit-transition: all .25s;
						   -moz-transition: all .25s;
						    -ms-transition: all .25s;
						     -o-transition: all .25s;
						        transition: all .25s;
						position: absolute;
						top: -10px;
						right: -10px;
						width: 30px;
						height: 30px;
						border: 0;
						border-radius: 50%;
						background-color: rgba(0,0,0,0.3);
						color: #FFF;
						&:hover{
							-webkit-transform: rotate(90deg);
							   -moz-transform: rotate(90deg);
							    -ms-transform: rotate(90deg);
							     -o-transform: rotate(90deg);
							        transform: rotate(90deg);
							background-color: rgba(0,0,0,0.4);
						}
						&:focus, &:active{
							outline: none;
							-webkit-transform: rotate(90deg);
							   -moz-transform: rotate(90deg);
							    -ms-transform: rotate(90deg);
							     -o-transform: rotate(90deg);
							        transform: rotate(90deg);
							background-color: rgba(0,0,0,0.6);
						}
					}
				/*
				-----------------------------
					//ACTION
				-----------------------------
				*/
				/*
				-----------------------------
					HEADER
				-----------------------------
				*/
					.modal-container--header{						
						padding:  10px 0;
						h2{
							margin: 0;
							margin-bottom: 5px;
							font-size: 22px;
						}
						p{
							margin: 0;
							font-size: 14px;
						}
					}
				/*
				-----------------------------
					//HEADER
				-----------------------------
				*/
				&::-webkit-scrollbar {
				    width: 5px;
				    right: 0;
				}
				 
				/* Track */
				&::-webkit-scrollbar-track {
				    -webkit-border-radius: 10px;
				    border-radius: 10px;
				    background: rgba(0,0,0,.1); 
				}
				 
				/* Handle */
				&::-webkit-scrollbar-thumb {
				    -webkit-border-radius: 10px;
				    border-radius: 10px;
				    background: rgba(0,0,0,.3); 
				}
				&::-webkit-scrollbar-thumb:window-inactive {
				    background: rgba(0,0,0,.3);  
				}
			}
		/*
		==============================
			//CONTAINER
		==============================
		*/
	}
/*
#################################
	//MODAL
#################################
*/