/*
|||||||||||||||||||||||||||||||||||||
	name: Champs
	version: 1.0.0
	author: Raro! Brand & Design
|||||||||||||||||||||||||||||||||||||
*/

.map #maps{
	border-top: 1px solid #CCC;
	background-color: #f4f4f4;
	height: 579px;
}
/*
	##################
	  LAYOUT CONTROL
	##################
*/
	.main{
		margin: 151px 0 0 0;
		&.main-internas{
			margin: 120px 0 0 0;
		}
		&.main-home{
			margin: 0;
			margin-top: 45px;
		}
	}


/*
	##################
	 //LAYOUT CONTROL
	##################
*/
/*
	####################
	   	  QUARTOS
	####################
*/
	.quartos{
		padding: 65px 0;
		.quartos-block--left{
			border: 1px solid #ccc;
			border-radius: 4px;
			border-right: 4px solid #ccc;
			.filter{
				.filter-block{
					.filter-form--basic{
						border-bottom: 1px solid #464666;
						.filter-title{
							margin: 20px 0 30px 0;
							h1{
								font-weight: 600;
								margin: 0;
								color: #333;
								font-size: 14px;
								text-transform: uppercase;
							}
						}
						form{
							.form-field{
								margin: 0 0 30px 0;
								.form-field--icon-quarto{
									z-index: 2;
									position: absolute;
									padding: 14px 0 0 0;
									right: 7px;
								}
								.form-field--icon-hotel{
									z-index: 2;
									position: absolute;
									padding: 6px 0;
									right: 7px;
								}
								input{
									border-radius: 3px;
									width: 100%;
									padding: 11px 0 10px 9px;
									border: 1px solid #ccc;
									position: relative;
								}
							}
						}
					}
					.filter-form--advanced{
						.filter-title{
							margin: 20px 0 30px 0;
							h1{
								font-weight: 600;
								margin: 0;
								color: #333;
								font-size: 14px;
								text-transform: uppercase;
							}
						}
						form{
							.form-field{
								margin: 0 0 30px 0;
								.form-field--icon-agenda{
									z-index: 2;
									position: absolute;
									padding: 6px 0 0 0;
									right: 7px;
								}
								.form-field--icon-hospede{
									z-index: 2;
									position: absolute;
									padding: 6px 0 0 0;
									right: 7px;
								}
								input{
									border-radius: 3px;
									width: 100%;
									padding: 11px 0 10px 9px;
									border: 1px solid #ccc;
									position: relative;
								}
							}
						}
						.filter-price{
							margin: 0 0 8px 0;
							.price-tag{
								img{
									margin: 0 6px 0 0;
									width: 23px;
									height: auto;
								}
								p{
									font-weight: 600;
									font-size: 14px;
									color: #464666;
									margin: 0;
								}
							}
							.price-count{
								p{
									font-weight: 600;
									margin: 0;
									font-size: 14px;
									color: #a70e12;
								}
							}
						}
						.filter-range{
							input{
								border-bottom: 0;
							}
							input[type=range] {
							  -webkit-appearance: none;
							  margin: 10px 0;
							  width: 100%;
							}
							input[type=range]:focus {
							  outline: none;
							}
							input[type=range]::-webkit-slider-runnable-track {
							  width: 100%;
							  height: 11px;
							  cursor: pointer;
							  animate: 0.2s;
							  box-shadow: 1px 1px 1px #a70e12;
							  background: #A70E12;
							  border-radius: 1px;
							  border: 0px solid #A70E12;
							}
							input[type=range]::-webkit-slider-thumb {
							  box-shadow: 1px 1px 1px #A70E12;
							  border: 1px solid #A70E12;
							  height: 26px;
							  width: 26px;
							  border-radius: 15px;
							  background: #A70E12;
							  cursor: pointer;
							  -webkit-appearance: none;
							  margin-top: -8px;
							}
							input[type=range]:focus::-webkit-slider-runnable-track {
							  background: #A70E12;
							}
							input[type=range]::-moz-range-track {
							  width: 100%;
							  height: 11px;
							  cursor: pointer;
							  animate: 0.2s;
							  box-shadow: 1px 1px 1px #a70e12;
							  background: #A70E12;
							  border-radius: 1px;
							  border: 0px solid #A70E12;
							}
							input[type=range]::-moz-range-thumb {
							  box-shadow: 1px 1px 1px #A70E12;
							  border: 1px solid #A70E12;
							  height: 26px;
							  width: 26px;
							  border-radius: 15px;
							  background: #A70E12;
							  cursor: pointer;
							}
							input[type=range]::-ms-track {
							  width: 100%;
							  height: 11px;
							  cursor: pointer;
							  animate: 0.2s;
							  background: transparent;
							  border-color: transparent;
							  color: transparent;
							}
							input[type=range]::-ms-fill-lower {
							  background: #A70E12;
							  border: 0px solid #A70E12;
							  border-radius: 2px;
							  box-shadow: 1px 1px 1px #a70e12;
							}
							input[type=range]::-ms-fill-upper {
							  background: #A70E12;
							  border: 0px solid #A70E12;
							  border-radius: 2px;
							  box-shadow: 1px 1px 1px #a70e12;
							}
							input[type=range]::-ms-thumb {
							  box-shadow: 1px 1px 1px #A70E12;
							  border: 1px solid #A70E12;
							  height: 26px;
							  width: 26px;
							  border-radius: 15px;
							  background: #A70E12;
							  cursor: pointer;
							}
							input[type=range]:focus::-ms-fill-lower {
							  background: #A70E12;
							}
							input[type=range]:focus::-ms-fill-upper {
							  background: #A70E12;
							}
						}
						.filter-scala{
							margin: 8px 0 0 0;
							p{
								font-size: 12px;
								color: #b2b2b2;
								margin: 0;
							}
						}
						.filter-services{
							margin: 35px 0 0 0;
							.filter-services--title{
								img{
									margin: 0 5px 0 0;
									width: 20px;
									height: auto;
								}
								p{
									font-weight: 600;
									margin: 0;
									font-size: 14px;
									color: #333;
								}
							}
							.filter-services--block{
								padding: 22px 0 30px 0;
								border-bottom: 1px solid #ccc;
								.block-service{
									.block-service--icon{
										label{
											i{
												font-size: 20px;
												color: #b2b2b2;
											}
											input{
												visibility: hidden;
												position: absolute; 
											}
											input + i{
												cursor:pointer;
	  											border:2px solid transparent;
											}
											input:checked+i{ 
											    color: #a70e12;
											}
											input:checked+i+.block-service--desc{ 
											    p{
											    	color: #a70e12;
											    	font-weight: bold;
											    }
											}
											.block-service--desc{
												margin: 5px 0 0 0;
												p{
													margin: 0;
													font-size: 10px;
													color: #b2b2b2;
												}
											}
										}
									}
								}
							}
						}
					}
					.block-service--button{
						margin: 17px 0 16px 0;
						button{
							border: 0;
							border-radius: 3px;
							color: #fff;
							text-transform: uppercase;
							background-color: #a70e12;
							border-bottom: 4px solid #8c0b10;
							display: inline-block;
							text-decoration: none;
							font-size: 14px;
							padding: 12px 45px 9px;
							&:hover, &:focus{
								background-color: #6f1313;
								border-bottom: 4px solid #570f0f;
							}
						}
					}

				}
			}
		}
		.quartos-block--right{
			.filter{
				border-radius: 4px;
				border: 1px solid #ccc;
				border-bottom: 4px solid #ccc;
				.filter-block{
					padding: 6px 0;
					.filter-title{
						margin: 3px 0 0 0;
						h1{
							line-height: 30px;
							font-size: 18px;
							margin: 0;
							color: #333;
						}
					}
					.filter-selects{
						.select{
							position: relative;
							&:nth-child(odd){
								margin: 0 20px 0 0;
							}
							select{
								padding: 7px 16px 5px 6px;
								border: 1px solid #ccc;
								border-radius: 3px;
							}
							&::after{
							    content: '<>';
							    font: 14px "Consolas", monospace;
							    color: #aaa;
							    -webkit-transform: rotate(90deg);
							    -moz-transform: rotate(90deg);
							    -ms-transform: rotate(90deg);
							    transform: rotate(90deg);
							    right: 8px;
							    top: 6px;
							    padding: 0 0 2px;
							    border-bottom: 1px solid #ddd;
							    position: absolute;
							    pointer-events: none;
							}
							&::before{
							    content: '';
							    right: 6px;
							    top: 5px;
							    width: 20px;
							    height: 20px;
							    background-color: #fff;
							    position: absolute;
							    pointer-events: none;
							    display: block;
							}
						}
					}
				}
			}
			.quarto{
				margin: 30px 0 0 0;
				.quarto-container{
					.quarto-post{
						margin: 0 15px 0 0;
						background-color: #f2f2f2;
						border: 1px solid #ccc;
						.quarto-post--img{
							width: 100%;
							height: 185px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.quarto-post--title{
							margin: 16px 0 8px 0;
							h1{
								margin: 0;
								text-transform: uppercase;
								font-size: 14px;
								color: #333333;
							}
						}
						.quarto-post--info1{
							margin: 0 0 11px 0;
							.quarto-post--hotel{
								h2{
									margin: 0;
									font-size: 12px;
									color: #333333;
								}
							}
							.quarto-post--oldprice{
								p{
									text-decoration: line-through;
									font-size: 12px;
									color: #666666;
									margin: 0;
								}
							}
						}
						.quarto-post--info2{
							padding: 0 0 6px 0;
							border-bottom: 1px solid #ccc;
							.quarto-post--services{
								.icon-service{
									margin: 0 10px 0 0;
									&:last-child{
										margin: 0;
									}

								}
							}
							.quarto-post--price{
								p{
									margin: 0;
									font-size: 20px;
									color: #208145;
								}
							}
						}
						.quarto-post--avaliacao{
							border-bottom: 1px solid #ccc;
							padding: 10px 0 8px 0;
							.avaliacao{
								p{
									font-size: 12px;
									color: #666666;
									margin: 0;
								}
							}
						}
						.quarto-post--desc{
							margin: 16px 0 22px 0;
							p{
								font-size: 14px;
								color: #666666;
								margin: 0;
								line-height: 20px;
							}
						}
						.quarto-post--link{
							margin: 0 0 20px 0;
							a{
								transition: 0.25s;
								border-radius: 3px;
								text-transform: uppercase;
								text-decoration: none;
								padding: 11px 35px 8px;
								display: block;
								background-color: #a70e12;
								border-bottom: 4px solid #8c0b10;
								font-size: 13px;
								color: #fff;
								&:hover, &:focus{
									background-color: #6f1313;
									border-bottom: 4px solid #570f0f;
								}
							}
						}
					}
				}
			}
		}
	}


/*
	####################
	   	 //QUARTOS
	####################
*/

/*
	####################
	   QUARTOS SINGLE
	####################
*/
	.single-quarto{
		margin: 70px 0;
		.block-left{
			padding: 0 20px 0 0;
			.carousel-bkg{
				img{
					width: 100%;
					height: 440px;
					display: block;
				}
			}
			.carousel-block{
				position: relative;
				.nav-left{
					button{
						top: calc(45%);
						position: absolute;
						left: 0;
						z-index: 2;
						background-color: transparent;
						border: 0;
					}
				}
				.carousel-quarto{
					.item{
						.item-img{
							&:hover{
								cursor: pointer;
							}
						}
					}
				}
				.nav-right{
					button{
						top: calc(45%);
						position: absolute;
						z-index: 2;
						right: 0;
						background-color: transparent;
						border: 0;
					}
				}
			}
			.block-left--container{
				margin: 20px 0 0 0;
				.content-desc{
					.content-desc--block{
						max-width: 46%;
						position: relative;
						&::before{
							content: "";
							width: 100%;
							position: relative;
							height: 1px;
							background-color: #a70e12;
							display: inline-block;
						}
						.content-desc--title{
							background-color: #fff;
							max-width: 55%;
							top: 4px;
							position: absolute;
							margin-left: auto;
							margin-right: auto;
							left: 0;
							right: 0;
							h1{
								text-transform: uppercase;
								font-size: 14px;
								margin: 0;
								color: #a70e12;
							}
						}
					}
					.content-desc--text{
						margin: 20px 0;
						p{
							margin: 0;
							font-size: 14px;
							color: #666666;
							line-height: 22px;
						}
					}
					.content-esp{
						padding: 5px 0;
						border-top: 1px solid #ccc;
						border-bottom: 1px solid #ccc;
						.content-esp--block{
							padding: 10px 25px;
							border-right: 1px solid #ccc;
							&:last-child{
								border-right: 0;
							}
							p{
								margin: 0;
								font-size: 14px;
								color: #a6a6a6;
							}
						}
					}
				}
				.content-ameni{
					.content-ameni--title{
						margin: 20px 0;
						h1{
							margin: 0;
							font-size: 14px;
							color: #a6a6a6;
						}
					}
					.ameni-block{
						padding: 0 0 20px 0;
						border-bottom: 1px solid #ccc;
						.ameni-block--text{
							padding: 0 9px 0 9px;
							border-right: 1px solid #ccc;
							&:last-child{
								padding: 0 0 0 9px;
								border-right: 0;
							}
							&:first-child{
								padding: 0 9px 0 0;
							}
							p{
								margin: 0;
								font-size: 14px;
								color: #a6a6a6;
							}
						}
					}
				}
			}
			.single-quarto--comments{
				margin: 15px 0 0 0;
				padding: 20px 15px;
				background-color: #f7f7f7;
				.comment-respond{
					h3{
						font-size: 14px;
						color: #666666;
						text-transform: uppercase;
					}
				}
				.formcontainer{
					.comment-form{
						.form-section--nome{
							margin: 0 0 10px 0;
							.container{
								padding: 0 10px 0 0;
							}
							.form-input{
								input{
									padding: 14px 15px 12px;
									border: 1px solid #ccc;
									border-radius: 3px;
									font-size: 14px;
								}
							}
						}
						.form-section--email{
							margin: 0 0 10px 0;
							.container{
								padding: 0 0 0 10px;
							}
							.form-input{
								input{
									padding: 14px 15px 12px;
									border: 1px solid #ccc;
									border-radius: 3px;
									font-size: 14px;
								}
							}
						}
						.form-section--textarea{
							.form-textarea{
								textarea{
									padding: 14px 15px 12px;
									border: 1px solid #ccc;
									border-radius: 3px;
									font-size: 14px;
								}
							}
						}
						.form-submit{
							margin: 10px 0 0 0;
							button{
								padding: 15px 27px 11px;
								background-color: #cc504d;
								border-bottom: 4px solid #b34644;
								color: #fff;
								border-radius: 3px;
								transition: 0.25s;
								&:hover, &:focus{
									background-color: #a70e12;
									border-bottom: 4px solid #8c0b10;
								}
							}
						}
					}
				}
			}
		}
		.block-right{
			.block-right--content{
				border-radius: 4px;
				border: 1px solid #ccc;
				border-left: 4px solid #ccc;
				&:first-child{
					margin: 0 0 20px 0;
				}
			}
			.info-right{
				padding: 25px 10px;
				&:last-child{
					padding: 25px 10px 0;
				}
				.info-block{
					padding: 20px 0 20px 0;
					&:first-child{
						padding: 0 0 20px 0;
					}
					border-bottom: 1px solid #ccc;
					.hotel-icon{
						padding: 0 8px 0 0;
					}
					.hotel-name{
						h1{
							font-size: 14px;
							color: #666666;
							margin: 0;
						}
					}
					.hotel-value{
						p{
							line-height: 32px;
							margin: 0;
							font-size: 14px;
							color: #666666;
						}
					}
					.hotel-price{
						p{
							margin: 0;
							font-weight: 600;
							font-size: 24px;
							color: #005321;
						}
					}
				}
				.quartos-similares{
					.quartos-similares--title{
						h1{
							font-size: 14px;
							color: #a70e12;
							margin: 0;
						}
					}
					.quartos-similares--posts{
						.posts-block{
							padding: 30px 0 20px 0;
							border-bottom: 1px solid #ccc;
							&:last-child{
								border-bottom: 0;
							}
							.posts-block--img{
								width: 75px;
								height: 75px;
								overflow: hidden;
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
								}
							}
							.posts-block--content{
								&.container{
									padding: 0 0 0 7px;
								}
								.content-title{
									margin: 0 0 10px 0;
									h1{
										font-size: 14px;
										color: #666666;
										margin: 0;
										text-transform: uppercase;
									}
								}
								.content-stars{

								}
								.content-price{
									p{
										font-weight: 600;
										margin: 0;
										font-size: 16px;
										color: #005321;
									}
								}
							}
						}
					}
				}
			}
			.info-block--avaliacao{
				padding: 10px 0;
				border-bottom: 1px solid #ccc;
				p{
					line-height: 19px;
					font-size: 12px;
					margin: 0;
					color: #666666;
					font-weight: 600;
				}
				img{
					margin: 0 0 0 5px;
				}
			}
			.info-block--services{
				margin: 0 0 30px 0;
				padding: 15px 0;
				border-bottom: 1px solid #ccc;
				.services-title{
					p{
						margin: 0;
						font-size: 14px;
						color: #666666;
						font-weight: 600;
					}
					img{
						margin: 0 5px 0 0;
					}
				}
				.services-block{
					margin: 20px 0 0 0;
					.service-icon{
						img{
							width: 25px;
							height: 22px;
						}
					}
					.service-text{
						p{
							font-weight: 600;
							color: #a70e12;
							font-size: 11px;
							margin: 0;
						}
					}
				}
			}
			.info-block--advanced{
				.advanced-block{
					border-top: 1px solid #464666;
					padding: 30px 0 0 0;
					.advanced-block--title{
						margin: 0 0 25px 0;
						h1{
							font-size: 14px;
							font-weight: 600;
							color: #464666;
							margin: 0;
							text-transform: uppercase;
						}
					}
					.advanced-block--form{
						.form-block{
							.form-block--input{
								margin: 0 0 30px 0;
								position: relative;
								input{
									padding: 14px 32px 12px 10px;
									border: 1px solid #ccc;
									border-radius: 3px;
								}
								.form-block--icon{
									position: absolute;
									top: 10px;
    								right: 5px;
									img{
										width: 24px;
										height: 28px;
									}
								}
								&:last-child{
									margin: 0 0 24px 0;
								}
								.form-field--container-counter{
									display: none;
									z-index: 2;
									top: 60px;
									position: absolute;
									border: 1px solid #ccc;
									background-color: #fff;
									border-radius: 3px;
									.container{
										padding: 5px;
									}
									&::before{
										position: absolute;
										top: -13px;
										left: 18px;
										content: "";
										display: inline-block;
										vertical-align: middle;
										margin-right: 10px;
										width: 0; 
										height: 0; 
									    border-left: 12px solid transparent;
		   								border-right: 12px solid transparent;
		    							border-bottom: 13px solid #ccc;
		    							border-bottom-style: 1px solid #ccc;

									}
									.counter-adultos{
										padding: 7px 5px;
										border-bottom: 1px solid #ccc;
										span{
											margin: 0 7px 0 0;
											font-size: 14px;
											color: #666666;
											line-height: 30px;
											font-weight: 600;
										}
										.icons{
											&.col-lg-3{
												width: 28.99%!important;
											}
											.icon-plus{
												button{
													padding: 5px 5px 3px 5px;
													border: 1px solid #ccc;
													transition: 0.25s;
													background-color: transparent;
													i{
														color: #cc504d;
													}
													&:hover{
														background-color: #a70e12;
														i{
															color: #fff;
														}
														border: 1px solid #a70e12;
													}	
												}
											}
											.icon-minus{
												button{
													padding: 5px 5px 3px 5px;
													border: 1px solid #ccc;
													transition: 0.25s;
													background-color: transparent;
													i{
														color: #cc504d;
													}
													&:hover{
														background-color: #a70e12;
														i{
															color: #fff;
														}
														border: 1px solid #a70e12;
													}	
												}
											}
										}
									}
									.counter{
										padding: 7px 5px;
										border-bottom: 1px solid #ccc;
										&:last-child{
											border-bottom: 0;
											padding: 7px 5px 0px;
										}
										span{
											margin: 0 7px 0 0;
											line-height: 30px;
											font-size: 14px;
											color: #666666;
											font-weight: 600;
										}
										.icons{
											span{
												line-height: 30px;
												color: #cccccc;
												font-size: 10px;
											}
											.icon-plus{
												button{
													padding: 5px 5px 3px 5px;
													border: 1px solid #ccc;
													transition: 0.25s;
													background-color: transparent;
													i{
														color: #cc504d;
													}
													&:hover{
														background-color: #a70e12;
														i{
															color: #fff;
														}
														border: 1px solid #a70e12;
													}	
												}
											}
											.icon-minus{
												button{
													padding: 5px 5px 3px 5px;
													border: 1px solid #ccc;
													transition: 0.25s;
													background-color: transparent;
													i{
														color: #cc504d;
													}
													&:hover{
														background-color: #a70e12;
														i{
															color: #fff;
														}
														border: 1px solid #a70e12;
													}	
												}
											}
										}
									}
								}
							}
							.form-block--button{
								margin: 0 0 25px 0;
								button{
									transition: 0.25s;
									text-transform: uppercase;
									color: #fff;
									border-radius: 3px;
									border: 0;
									padding: 15px 16px 9px;
									background-color: #a70e12;
									border-bottom: 4px solid #8c0b10;
									&:hover{
										background-color: #6f1313;
										border-bottom: 4px solid #570f0f;
									}
								}
							}
						}
					}
				}
			}
		}
	}

/*
	####################
	  //QUARTOS SINGLE
	####################
*/


/*
	####################
	   	 COMENTÁRIOS
	####################
*/
	.comments{
		margin: 65px 0;
		.blockquote{
			font-size: 32px;
			font-weight: bold;
			border-color: #6f1313;
			color: #FFF;
			p{
				text-shadow: 0px 2px 10px rgba(0,0,0,0.5);
			}
			small{
				font-size: 18px;
				font-style: italic;
				font-weight: 300;
			}
		}
		.comments-bkg{
			background-repeat: no-repeat;
			background-size: cover;
			padding: 140px 0;
			&.bkg{
				background-image: url('../images/backgrounds/background-comments.jpg');
			}
			.space{
				&.container{
					&:nth-child(odd){
						padding: 0 7px 0 7px;
					}
					&:nth-child(even){
						padding: 0 7px 0 7px;
					}
				}
			}
			.comments-users{
				padding: 30px 0 25px 0;
				background-color: rgba(255, 255, 255, 0.9);
				.comments-users--align{
					margin: 0 0 10px 0;
					.comments-users--img{
						width: 70px;
						height: 70px;
						overflow: hidden;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 150%;
							border-radius: 50%;
						}
					}
					.comments-users--name{
						margin: 8px 0 10px 0;
						h1{
							margin: 0;
							font-size: 16px;
							color: #666666;
							text-transform: uppercase;
						}
					}
					.comments-users--age{
						p{
							font-size: 15px;
							color: #666666;
							margin: 0;
						}
					}
					.comments-users--city{
						p{
							margin: 0;
							font-size: 15px;
							color: #666666;
						}
						::after{
						    margin: 15px 0 10px 0;
						    content: "";
						    width: 100%;
						    height: 2px;
						    background-color: #a70e12;
						    display: block;
						}
					}

				}
				.comments-users--content{
					p{
						line-height: 20px;
						font-size: 15px;
						color: #666666;
						margin: 0;
					}
				}
			}
		}
	}

/*
	####################
	   //COMENTÁRIOS
	####################
*/


/*
	####################
	   	  SERVIÇOS
	####################
*/
	.services{
		.services-block{

			max-width: 37%;
			position: relative;
			&::before{
				content: "";
				width: 100%;
				position: relative;
				height: 1px;
				background-color: #a70e12;
				display: inline-block;
				margin-bottom: 30px;
			}
			.services-title{
				background-color: #fff;
				max-width: 50%;
				top: -16px;
				position: absolute;
				margin-left: auto;
				margin-right: auto;
				left: 0;
				right: 0;
				h1{
					padding: 0 15px;
					margin: 0;
					font-weight: 600;
					color: #a70e12;
					font-size: 20px;
				}
			}
		}
		.services-posts{
			padding: 45px 0;
			border-bottom: 1px solid #ccc;
			.services-posts--block{
				.posts-icon{
					margin: 0 0 30px 0;
					i{
						font-size: 60px;
						color: #a70e12;
					}	
				}
				.posts-title{
					h1{
						color: #666666;
						margin: 0;
						font-size: 16px;
					}
				}
				.posts-content{
					margin: 13px 0 0 0;
					p{
						font-size: 14px;
						line-height: 20px;
						color: #666666;
						margin: 0;
					}
				}
			}
		}
	}


/*
	####################
	   	 //SERVIÇOS
	####################
*/


/*
	####################
	    CONTACT HOME
	####################
*/
	.contact{
		margin: 0 0 70px 0;
		.contact-help{
			.contact-help--block{
				max-width: 37%;
				position: relative;
				&::before{
					content: "";
					width: 100%;
					position: relative;
					height: 1px;
					background-color: #a70e12;
					display: inline-block;
					margin-bottom: 30px;
				}
				.contact-help--title{
					background-color: #fff;
					max-width: 53%;
					top: -14px;
					position: absolute;
					margin-left: auto;
					margin-right: auto;
					left: 0;
					right: 0;
					h1{
						padding: 0 15px;
						color: #a70e12;
						margin: 0;
						font-size: 20px;
					}
				}

			}
			.contact-help--text{
				p{
					font-size: 14px;
					color: #666666;
					line-height: 20px;
				}
			}
			.contact-help--form{
				form{
					input{
						margin: 0 0 15px 0;
						padding: 15px 0 12px 17px;
						border: 1px solid #ccc;
						border-radius: 3px;
					}
					textarea{
						margin: 0 0 15px 0;
						padding: 15px 0 0 17px;
						height: 97px;
						border-radius: 3px;
						border: 1px solid #ccc;
					}
					button{
						border-radius: 3px;
						color: #fff;
						border: 0;
						background-color: #a70e12;
						padding: 14px 22px 11px 22px;
						border-bottom: 4px solid #8f0704;
						transition: 0.25s;
						&:hover, &:focus{
							background-color: #6f1313;
							border-bottom: 4px solid #570f0f;
						}

					}
				}
				.mensagem{
					.EnvioOk{
						display: none;
						p{
							margin: 0;
							color: #8c0b10;
							font-weight: 600;
						}
					}
					.EnvioError{
						display: none;
						p{
							margin: 0;
							color: #8c0b10;
							font-weight: 600;
						}
					}
				}
			}
		}
	}


/*
	####################
	    CONTACT HOME
	####################
*/



/*
	####################
   	   	  BLOG
	####################
*/
	.blog{
		.blog-block{
			.cover{
				background-repeat: no-repeat;
				background-size: cover;
				.cover-container{
					padding: 200px 0 200px 0;
					.cover-title{
						margin: 0 0 20px 0;
						h1{
							color: #fff;
							font-size: 50px;
							margin: 0;
							text-transform: uppercase;
						}
					}
					.cover-content{
						p{
							margin: 0;
							font-size: 26px;
							color: #fff;
							text-transform: uppercase;
						}
					}
				}
			}
		}
		.blog-container{
			background-color: #f2f2f2;
			padding: 70px 0 160px 0;
			.block-left{
				padding: 0 20px 0 0;
				.post{
					background-color: #fff;
					margin: 0 0 50px 0;
					&:last-child{
						margin: 0;
					}
					.carousel-block{
						position: relative;
						.carousel-posts{
							.owl-controls{
								.owl-nav{
									.owl-prev{
										left: -1px;
										top: 40%;
										z-index: 2;
										padding: 0;
										background-color: transparent;
										position: absolute;
										border-left: 41px solid rgba(255, 255, 255, 0.8);
										border-top: 35px solid transparent;
										border-bottom: 34px solid transparent;
										i{
									        position: absolute;
										    color: #cc504d;
										    top: -15px;
										    right: 24px;
										    font-size: 28px;
										}
										&:hover{
											cursor: pointer;
											i{
												font-weight: bold;
											}
										}
									}
									.owl-next{
										top: 40%;
										right: -11px;
										padding: 0;
										z-index: 2;
										position: absolute;
										background-color: transparent;
									    border-right: 41px solid rgba(255, 255, 255, 0.8);
									    border-top: 35px solid transparent;
									    border-bottom: 34px solid transparent;
									    float: left;
									    i{
									        position: absolute;
										    color: #cc504d;
										    top: -15px;
										    left: 24px;
										    font-size: 28px;
										}
										&:hover{
											cursor: pointer;
											i{
												font-weight: bold;
											}
										}
									}
								}
							}
						}
						.carousel{
							.carousel-posts{
								.carousel-img{
									width: 100%;
									height: 523px;
									overflow: hidden;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}
								}
								.owl-controls{
									.owl-dots{
										position: absolute;
										bottom: 0;
										left: 0;
										padding: 15px 0;
										width: 100%;
										text-align: center;
										.owl-dot{
											margin: 0 10px;
											display: inline-block;
											width: 18px;
											height: 18px;
											border-radius: 50%;
											border: 2px solid #fff;
											&.active{
												background-color: #fff;
											}
										}
									}
								}
							}
						}
					}
					.post-content{
						.post-title{
							margin: 30px 0 10px 0;
							h1{
								font-weight: 400;
								color: #666666;
								font-size: 28px;
								margin: 0;
							}
						}
						.post-content--block{
							margin: 0 0 35px 0;
							.post-author{
								float: left;
								margin: 3px 0 0 0;
								p{
									margin: 0;
									font-size: 12px;
									color: #cccccc;
									ul{
										margin: 0;
										padding: 0;
										li{
											display: inline;
											list-style-type: none;
											a{
												font-size: 12px;
												color: #cccccc;
											}
										}
									}
								}
							}
							.post-category{
								float: left;
								ul{
									margin: 0 0 0 5px;
									padding: 0;
									li{
										list-style-type: none;
										a{
											text-decoration: none;
											font-size: 12px;
											color: #cccccc;
										}
									}
								}
							}
						}
					}
					.post-text{
						margin: 0 0 42px 0;
						p{
							line-height: 24px;
							margin: 0;
							font-size: 14px;
							color: #a6a6a6;
						}
					}
					.post-link{
						margin: 0 0 30px 0;
						a{
							transition: 0.2s;
							background-color: #a70e12;
							display: inline-block;
							border-radius: 3px;
							color: #fff;
							border-bottom: 4px solid #8f0704;
							text-decoration: none;
							text-transform: uppercase;
							padding: 12px 30px 9px;
							&:hover{
								background-color: #6f1313;
								border-bottom: 4px solid #570f0f;
							}
						}
					}
					.social-share{
						padding: 0 0 15px 0;
						.like{
							.list--item{
								list-style-type: none;
								.post-item-actions--like{
									color: #a70e12;
									position: relative;
									i{
										color: #ccc;
										font-size: 19px;
									}
									&.has-likes{
										i{
											color: #a70e12;
										}
									}
								}
								&:hover{
									.post-item-actions--like{
										.tooltip{
											display: block;
										}
									}
								}
							}
							.tooltip{
								animation-name: fadeIn;
							    animation-duration: .25s;
							    position: absolute;
							    display: none;
							    bottom: 100%;
							    left: 0;
							    white-space: nowrap;
							    font-size: 12px;
							    padding: 5px 8px;
							    border-radius: 3px;
							    background-color: #a70e12;
							    box-shadow: 0 2 5px rgba(0,0,0,.3);
							    color: #FFF;
							}
						}
						.comentario{
							.list--item{
								list-style-type: none;
								.post-item-actions--comment{
									color: #cc504d;
									position: relative;
									i{
										color: #ccc;
										font-size: 19px;
									}
									&.has-comment{
										i{
											color: #a70e12;
										}
									}
								}
								&:hover{
									.post-item-actions--comment{
										.tooltip{
											display: block;
										}
									}
								}
							}
							.tooltip{
								animation-name: fadeIn;
							    animation-duration: .25s;
							    position: absolute;
							    display: none;
							    bottom: 100%;
							    left: 0;
							    white-space: nowrap;
							    font-size: 12px;
							    padding: 5px 8px;
							    border-radius: 3px;
							    background-color: #a70e12;
							    box-shadow: 0 2 5px rgba(0,0,0,.3);
							    color: #FFF;
							}
						}
					}
				}
				.single{
					padding: 30px 0 50px 0;
					background-color: #fff;
					.single-title {
						margin: 0 0 3px 0;
						h1{
							font-size: 28px;
							color: #666666;
							margin: 0;
							font-weight: 400;
						}
					}
					.single-block{
						margin: 0 0 25px 0;
						.single-block--author{
							margin: 3px 0 0 0;
							p{
								margin: 0;
								font-size: 12px;
								color: #cccccc;
							}
						}
						.single-block--category{
							ul{
								margin: 0 0 0 5px;
								padding: 0;
								li{
									list-style-type: none;
									a{
										text-decoration: none;
										font-size: 12px;
										color: #cccccc;
									}
								}
							}
						}
					}
					.single-content{
						padding: 35px 0 48px 0;
						border-bottom: 1px solid #ccc;
						line-height: 24px;
						font-size: 14px;
						color: #a6a6a6;
						blockquote{
							line-height: 30px;
							font-size: 18px;
							color: #a6a6a6;
						}
					}
					.carousel-single{
						position: relative;
						.single-posts{
							.item{
								.carousel-img{
									height: 523px;
									overflow: hidden;
									img{
										min-width: 100%;
										min-height: 100%;
										max-width: 150%;
									}
								}
							}
							.owl-controls{
								.owl-dots{
									position: absolute;
									bottom: 0;
									left: 0;
									padding: 15px 0;
									width: 100%;
									text-align: center;
									.owl-dot{
										margin: 0 10px;
										display: inline-block;
										width: 18px;
										height: 18px;
										border-radius: 50%;
										border: 2px solid #fff;
										&.active{
											background-color: #fff;
										}
									}
								}
								.owl-nav{
									.owl-prev{
										left: -1px;
										top: 40%;
										z-index: 2;
										padding: 0;
										background-color: transparent;
										position: absolute;
										border-left: 41px solid rgba(255, 255, 255, 0.8);
										border-top: 35px solid transparent;
										border-bottom: 34px solid transparent;
										i{
									        position: absolute;
										    color: #cc504d;
										    top: -15px;
										    right: 24px;
										    font-size: 28px;
										}
										&:hover{
											cursor: pointer;
											i{
												font-weight: bold;
											}
										}
									}
									.owl-next{
										top: 40%;
										right: -11px;
										padding: 0;
										z-index: 2;
										position: absolute;
										background-color: transparent;
									    border-right: 41px solid rgba(255, 255, 255, 0.8);
									    border-top: 35px solid transparent;
									    border-bottom: 34px solid transparent;
									    float: left;
									    i{
									        position: absolute;
										    color: #cc504d;
										    top: -15px;
										    left: 24px;
										    font-size: 28px;
										}
										&:hover{
											cursor: pointer;
											i{
												font-weight: bold;
											}
										}
									}
								}
							}
						}
						.single-comments{
							.comment-respond{
								h3{
									text-transform: uppercase;
									color: #666666;
								}
								.formcontainer{
									.comment-form{
										.form-section--nome{
											margin: 0 0 12px 0;
											.form-input{
												&.container{
													padding: 0 5px 0 0;
												}
												input{
													width: 100%;
													border: 1px solid #ccc;
													border-radius: 3px;
													padding: 12px 0 12px 15px;
													font-size: 14px;
												}
											}
										}
										.form-section--email{
											margin: 0 0 12px 0;
											.form-input{
												&.container{
													padding: 0 0 0 5px;
												}
												input{
													width: 100%;
													border: 1px solid #ccc;
													border-radius: 3px;
													padding: 12px 0 12px 15px;
													font-size: 14px;
												}
											}
										}
										.form-section--textarea{
											.form-textarea{
												textarea{
													padding: 12px 0 0 15px;
													height: 99px;
													border: 1px solid #ccc;
													border-radius: 3px;
												}
											}
										}
										.form-submit{
											margin: 10px 0 0 0;
											button{
												transition: 0.2s;
												padding: 12px 27px 8px;
												color: #fff;
												background-color: #cc504d;
												border-bottom: 4px solid #b34644;
												&:hover{
													background-color: #a70e12;
													border-bottom: 4px solid #8c0b10;
												}
											}
										}
									}
								}
							}
						}
					}

				}
				.post-pagination{
					.navigation{
						.screen-reader-text{
							display: none;
						}
						.nav-links{
							a{
								text-decoration: none;
							}
							.page-numbers{
								width: 34px;
								height: 30px;
								border-radius: 3px;
								padding: 5px 7px;
								display: inline-block;
								background-color: #a70e12;
								color: #fff;
								&.current{
									background-color: #6f1313;
								}
								&.prev{
									transition: 0.2s;
									width: 27px;
									height: 30px;
									padding: 5px 7px;
									display: inline-block;
									margin: 0 6px 0 0;
									&:hover{
										background-color: #6f1313;
									}
								}
								&.next{
									transition: 0.2s;
									width: 27px;
									height: 30px;
									padding: 5px 7px;
									display: inline-block;
									margin: 0 0 0 6px;
									&:hover{
										background-color: #6f1313;
									}
								}
							}
						}
					}
				}
			}
			.block-right{
				padding: 0 0 20px 0;
				background-color: #fff;
				.search-blog{
					padding: 25px 0 30px 0;
					border-bottom: 1px solid #464666;
					form{
						.form-field{
							&.blog{
								position: relative;
								input{
									border: 1px solid #ccc;
									padding: 14px 0 10px 14px;
									border-radius: 4px;
									font-size: 14px;
								}
							}
							.search-blog--icon{
							    top: 10px;
    							right: 14px;
								position: absolute;
								i{
									color: #a70e12;
								}
							}
						}
					}
				}
				.destaque-blog{
					padding: 30px 0 0 0;
					.destaque-blog--title{
						margin: 0 0 20px 0;
						h1{
							font-size: 14px;
							margin: 0;
							text-transform: uppercase;
							color: #464666;
						}
					}
					.destaque-post{
						.destaque-post--img{
							width: 250px;
							height: 250px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}

						}
						.destaque-post-container{
							padding: 15px 0 30px 0;
							border-bottom: 1px solid #464666;
							.destaque-post--title{
								margin: 0 0 15px 0;
								h1{
									font-weight: 400;
									font-size: 18px;
									color: #666666;
									margin: 0;
								}
							}
							.destaque-post--content{
								p{
									line-height: 14px;
									margin: 0;
									font-size: 10px;
									color: #a6a6a6;
								}
							}
							.destaque-post--link{
								a{
									text-decoration: none;
									color: #a70e12;
									text-transform: uppercase;
									font-size: 10px;
									&:hover{
										color: #6f1313;
										text-decoration: underline;
										font-weight: bold;
									}
								}
							}
						}
					}
				}
				.popular-blog{
					padding: 30px 0;
					border-bottom: 1px solid #464666;
					.popular-blog--title{
						margin: 0 0 30px 0;
						h1{
							margin: 0;
							font-size: 14px;
							color: #464666;
							text-transform: uppercase;
						}
					}
					.popular-blog--posts{
						margin: 0 0 20px 0;
						.post-img{
							width: 100%;
							height: 65px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.post-title{
							margin: 0 0 11px 0;
							h1{
								font-weight: 400;
								margin: 0;
								color: #666666;
								font-size: 14px;
							}
						}
						.post-content{
							p{
								line-height: 14px;
								margin: 0;
								font-size: 10px;
								color: #a6a6a6;
							}
						}
					}
				}
				.categorias-blog{
					.categorias-blog--title{
						margin: 25px 0 10px 0;
						h1{
							text-transform: uppercase;
							margin: 0;
							font-size: 14px;
							color: #464666;
						}
					}
					.categorias{
						nav{
							ul{
								margin: 0;
								padding: 0;
								li{
									display: inline;
									list-style-type: none;
									a{
										transition: 0.2s;
										margin: 10px 10px 0 0;
										padding: 6px 5px 4px 5px;
										background-color: #a70e12;
										display: inline-block;
										color: #fff;
										text-decoration: none;
										&:hover{
											background-color: #6f1313;
										}
										&.active{
											background-color: #6f1313;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}


/*
	####################
   	   	  //BLOG
	####################
*/

/*
	####################
	    PAGE GALERIA
	####################
*/
	.page-galeria{
		.cover{
			background-repeat: no-repeat;
			background-size: cover;
			&.cover-img{

			}
			.cover-msg{
				padding: 232px 0 228px 0;
				h1{
					margin: 0;
					font-size: 50px;
					text-transform: uppercase;
					color: #fff;
				}
			}
		}
		.galeria-block{
			margin: 75px 0 0 0;
			.galeria-links{
				nav{
					ul{
						margin: 0;
						padding: 0;
						li{
							&.active{
								a{
									font-weight: 600;
									&::after{
										width: 38%;
										background-color: #a70e12;
									}
								}
							}
							display: inline-block;
							list-style-type: none;
							a{
								position: relative;
								font-weight: bold;
								display: block;
								padding: 0 25px;
								color: #666;
								text-transform: uppercase;
								text-decoration: none;
								&:hover, &:focus{
									outline: none;
									&::after{
										width: 38%;
									}
								}
								&::after{
									content: "";
									position: absolute;
									width: 0;
									height: 2px;
									background-color: #a70e12;
									top: 110%;
									left: 0;
									right: 0;
									margin-left: auto;
									margin-right: auto;
									transition: 0.25s;
								}
							}
						}
					}
				}
			}
			.galeria-imgs{
				margin: 35px 0 100px 0;
				.item{
					.img-post{
						margin: 10px;
						position: relative;
						width: 257px;
						height: 240px;
						overflow: hidden;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 150%;
						}
						&:hover{
							cursor: pointer;
							.zoom-block{
								display: block;
							}
							img{
								transition: 0.25s;
								-webkit-transform: scale(1.1);
                                -ms-transform: scale(1.1);
							    transform: scale(1.1);
							}
						}
						.zoom-block{
							transition: 0.25s;
							display: none;
							bottom:0;
							width: 100%;
							height: 100%;
							position: absolute;
							background-color: rgba(255, 255, 255, 0.5);
							background: rgba(255, 255, 255, 0.5);
							color: rgba(255, 255, 255, 0.5);
							i{
								font-size: 18px;
								position: relative;
								top: 45%;
							    color: #fff;
							    width: 48px;
							    height: 48px;
							    padding: 15px 0;
							    border-radius: 50%;
							    background-color: rgba(0, 0, 0, 0.5);
								background: rgba(0, 0, 0, 0.5);

							}
						}
					}
				}
			}
		}
	}




/*
	####################
	   //PAGE GALERIA
	####################
*/

/*
	###########################
	   INSTITUCIONAL PRUDENTE
	###########################
*/
	.institucional{
		.inst-background{
			background-repeat: no-repeat;
			background-size: cover;
			.inst-block{
				.inst-block--title{
					padding: 170px 0 0 0;
					margin: 0 0 80px 0;
					h1{
						font-weight: 400;
						font-size: 50px;
						margin: 0;
						color: #fff;
						text-transform: uppercase;
					}
				}
				.inst-block--subtitle{
					padding: 0 0 197px 0;
					h2{
						font-weight: 400;
						margin: 0;
						font-size: 50px;
						text-transform: uppercase;
						color: #fff;
					}
				}
			}
		}
		.nosso-hotel{
			position: relative;
			margin: 0 0 145px 0;
			.nosso-hotel--block{
				.hotel-title{
					margin: 70px 0 20px 0;
					h1{
						font-weight: 600;
						margin: 0;
						font-size: 28px;
						color: #a70e12;
						text-transform: uppercase;
					}
					&::after{
					    content: "";
					    width: 50px;
					    height: 2px;
					    background-color: #a70e12;
					    display: block;
					}
				}
				.hotel-content{
					p{
						font-weight: 500;
						line-height: 22px;
						font-size: 16px;
						color: #333333;
						margin: 0;
					}
				}
			}
			.folder-image{
				.folder-image--block{
					top: -90px;
					position: absolute;
					border: 10px solid #fff;
					width: 462px;
					height: 500px;
					overflow: hidden;
					img{
						min-width: 100%;
						min-height: 100%;
						max-width: 150%;
					}
				}
			}
		}
		.carousel-inst{
			.carousel-inst--block{
				padding: 0 0 50px 0;
				border-bottom: 1px solid #ccc;
				position: relative;
				.item{
					.item-img{
						padding: 0 10px;
						width: 280px;
						height: 220px;
						img{
							min-width: 100%;
							min-height: 100%;
							max-width: 150%;
						}
					}
				}
				.owl-controls{
					.owl-nav{
						.owl-prev{
							transition: 0.2s;
							margin: 0;
							position: absolute;
							top: 70px;
							left: 10px;
							padding: 30px 10px 30px 7px;
							background-color: rgba(0, 0, 0, 0.6);
							i{
								color: #ccc;
								font-size: 20px;
							}
							&:hover, &:focus{
								background-color: rgba(0, 0, 0, 0.7);
							}
						}
						.owl-next{
							transition: 0.2s;
							margin: 0;
							position: absolute;
							top: 70px;
							right: 7px;
							padding: 30px 10px 30px 7px;
							background-color: rgba(0, 0, 0, 0.6);
							i{
								color: #ccc;
								font-size: 20px;
							}
							&:hover, &:focus{
								background-color: rgba(0, 0, 0, 0.7);
							}
						}
					}
				}
			}
		}
		.estadias{
			margin: 50px 0 0 0;
			.estadias-title{
				h1{
					font-weight: 600;
					margin: 0;
					font-size: 28px;
					color: #a70e12;
					text-transform: uppercase;
				}
				&::after{
					content: '';
					width: 70px;
					height: 2px;
					display: block;
					background-color: #a70e12;
				}
			}
			.estadias-all{
				a{
					font-size: 16px;
					text-transform: uppercase;
					color: #a70e12;
					margin: 0;
					text-decoration: none;
					line-height: 39px;
					font-weight: 600;
					&:hover{
						text-decoration: underline;
						cursor: pointer;
						outline: none;
						color: #6f1313;
					}
				}
			}
			.estadias-posts{
				margin: 30px 0 0 0;
				.posts{
					.posts-container{
						.quarto-post{
							margin: 0 20px 0 0;
							background-color: #f2f2f2;
							border: 1px solid #ccc;
							.quarto-post--img{
								width: 100%;
								height: 185px;
								overflow: hidden;
								img{
									min-width: 100%;
									min-height: 100%;
									max-width: 150%;
								}
							}
							.quarto-post--title{
								margin: 16px 0 8px 0;
								h1{
									margin: 0;
									text-transform: uppercase;
									font-size: 14px;
									color: #333333;
								}
							}
							.quarto-post--info1{
								margin: 0 0 11px 0;
								.quarto-post--hotel{
									h2{
										margin: 0;
										font-size: 12px;
										color: #333333;
									}
								}
								.quarto-post--oldprice{
									p{
										text-decoration: line-through;
										font-size: 12px;
										color: #666666;
										margin: 0;
									}
								}
							}
							.quarto-post--info2{
								padding: 0 0 6px 0;
								border-bottom: 1px solid #ccc;
								.quarto-post--services{
									.icon-service{
										margin: 0 10px 0 0;
										&:last-child{
											margin: 0;
										}

									}
								}
								.quarto-post--price{
									p{
										margin: 0;
										font-size: 20px;
										color: #208145;
									}
								}
							}
							.quarto-post--avaliacao{
								border-bottom: 1px solid #ccc;
								padding: 10px 0 8px 0;
								.avaliacao{
									p{
										font-size: 12px;
										color: #666666;
										margin: 0;
									}
								}
							}
							.quarto-post--desc{
								margin: 16px 0 22px 0;
								p{
									font-size: 14px;
									color: #666666;
									margin: 0;
									line-height: 20px;
								}
							}
							.quarto-post--link{
								margin: 20px 0 20px 0;
								a{
									transition: 0.25s;
									border-radius: 3px;
									text-transform: uppercase;
									text-decoration: none;
									padding: 11px 35px 8px;
									display: block;
									background-color: #a70e12;
									border-bottom: 4px solid #8f0704;
									font-size: 13px;
									color: #fff;
									&:hover, &:focus{
										background-color: #6f1313;
										border-bottom: 4px solid #570f0f;
									}
								}
							}
						}
					}
				}
			}
		}

	}
/*
	###########################
	  //INSTITUCIONAL PRUDENTE
	###########################
*/




/*
	####################
	   	  FOOTER
	####################
*/
	.footer{
		.footer-copiryght{
			padding: 20px 0 15px 0;
			background-color: #571010;
			p{
				font-size: 11px;
				margin: 0;
				color: #fff;
				text-transform: uppercase;
			}
		}
		.footer-container{
			padding: 65px 0 25px 0;
			background-color: #6f1313;
			.footer-block{
				.footer-about{
					.footer-about--title{
						h1{
							font-size: 14px;
							color: #fff;
							margin: 0;
							text-transform: uppercase;
						}
						::after{
						    margin: 3px 0 0 0;
						    content: "";
						    width: 40px;
						    height: 2px;
						    background-color: #fff;
						    display: block;
						}
					}
					.footer-about--content{
						margin: 13px 0 0 0;
						p{
							line-height: 20px;
							margin: 0;
							font-size: 12px;
							color: #fff;
						}
					}
				}
				.footer-blog{
					.footer-blog--title{
						margin: 0 0 12px 0;
						h1{
							font-size: 14px;
							color: #fff;
							margin: 0;
							text-transform: uppercase;
						}
						::after{
						    margin: 3px 0 0 0;
						    content: "";
						    width: 40px;
						    height: 2px;
						    background-color: #fff;
						    display: block;
						}

					}
					.footer-blog--posts{
						margin: 0 0 12px 0;
						border-bottom: 1px solid #fff;
						padding-bottom: 12px;
						&:last-child{
							border-bottom: 0;
						}
						.post-img{
							width: 60px;
							height: 60px;
							overflow: hidden;
							img{
								min-width: 100%;
								min-height: 100%;
								max-width: 150%;
							}
						}
						.post-content{
							.post-content--title{
								h1{
									margin: 0;
									font-size: 12px;
									color: #fff;
								}
							}
							.post-content--text{
								margin: 8px 0 0 0;
								p{
									margin: 0;
									font-size: 12px;
									color: #fff;
								}
							}
						}
					}
				}
				.footer-contact{
					.footer-contact--title{
						h1{
							font-size: 14px;
							color: #fff;
							margin: 0;
							text-transform: uppercase;
						}
						::after{
						    margin: 3px 0 0 0;
						    content: "";
						    width: 40px;
						    height: 2px;
						    background-color: #fff;
						    display: block;
						}
					}
					.footer-contact--align{
						margin: 0 0 30px 0;
					}
					.footer-contact--container{
						.contact-city{
							margin: 17px 0;
							p{
								margin: 0;
								font-size: 12px;
								color: #fff;
							}
						}
						.contact-phone{
							margin: 0 0 10px 0;
							i{
								margin: 0 7px 0 0;
								color: #fff;
							}
							p{
								margin: 0;
								display: inline;
								font-size: 12px;
								color: #fff;
							}
						}
						.contact-mail{
							margin: 0 0 10px 0;
							i{
								margin: 0 7px 0 0;
								color: #fff;
							}
							p{
								display: inline;
								font-size: 12px;
								color: #fff;
							}
						}
					}
				}
				.footer-social{
					.footer-social--title{
						h1{
							font-size: 14px;
							color: #fff;
							margin: 0;
							text-transform: uppercase;
						}
						::after{
						    margin: 3px 0 0 0;
						    content: "";
						    width: 40px;
						    height: 2px;
						    background-color: #fff;
						    display: block;
						}
					}
					.footer-social--icons{
						margin: 16px 0 0 0;
						a{
							text-decoration: none;
							margin: 0 30px 0 0;
							&:focus, &:hover{
								outline: none;
							}
							i{
								color: #fff;
								font-size: 35px;
							}
							&:last-child{
								margin: 0;
							}
						}
					}
				}
			}
		}
	}

/*
	####################
	   	 //FOOTER
	####################
*/


/*
	####################
	   GRID GALERIA
	####################
*/
	.galeria{
		margin: 70px 0 65px 0;
		.container{
			padding: 0;
			max-width: 1180px;
		}
		.galeria-container{
			.grid{
				.grid-control{
					.item{
					    margin: 5px;
						float: left;
						img{
							display: block;
						}
					}
				}
			}
		}
	}
/*
	####################
	  //GRID GALERIA
	####################
*/


/*
	####################
	   MODAL GALERIA
	####################
*/


.modal-block{
	display: none;
}
.modal{
	display: none;
	&.open{
		display: block;
	}
	.modal-container{
		padding: 5px;
		background-color: #fff;
		.modal-action{
			z-index: 2;
		    top: -15px;
		    right: -16px;
		    width: 25px;
		    height: 25px;
			background-color: #fff;
			&:hover{
				background-color: #fff;
				transform: none;
				i{
					font-weight: bold;
				}
			}
			i{
				font-size: 14px;
				color: #cc504d;
			}
		}
		.modal-block{
			display: block;
			.modal-img{
				overflow: hidden;
				img{
					max-height: 50vh;
					max-width: 90vh;
				}
			}
		}
	}
}
/*
	####################
	   //MODAL GALERIA
	####################
*/
