/*
#####################################
	COVER
#####################################
*/
	.cover{
		&.cover-home{
			padding: 200px 0;
			color: #FFF;
			h2{
				margin: 0;
				margin-bottom: 20px;
				font-size: 50px;
				font-weight: normal;
				text-transform: uppercase;
				line-height: 60px;
			}
			p{
				margin: 0;
				font-size: 26px;
				font-weight: 300;
				text-transform: uppercase;
				line-height: 60px;
			}
		}
		.cover-background{
			background-position: center center;
			background-size: cover;
		}
	}
/*
#####################################
	//COVER
#####################################
*/
