/*
######################################
	RESPONSIVE XS
######################################
*/
	//Mobile Geral
	@media only screen and(min-width: 320px) and (max-width: 414px){

	}
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 414px) and (orientation: portrait){
			
	}
	//Mobile Landscape (Modo paisagem)
	@media only screen and(min-width: 480px) and (max-width: 920px) and (orientation: landscape){

	}
/*
######################################
	//RESPONSIVE XS
######################################
*/