/*
######################################
	RESPONSIVE SM
######################################
*/
	//Tablet Geral
	@media only screen and(min-width: 768px) and (max-width: 1024px){

	}
	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 600px) and (max-width: 800px) and (orientation: portrait){

	}
	//Tablet Landscape (Modo paisagem)
	@media only screen and(min-width: 960px) and (max-width: 1280px) and (orientation: landscape){
	}


	//7
	@media only screen and(min-width: 600px) and (max-width: 767px) and (orientation: portrait){

	}





/*
######################################
	//RESPONSIVE SM
######################################
*/